<!DOCTYPE html>
<html>
<head>
    <title>vRx Reports Dashboard</title>
</head>
<body>
    <h1>vRx Reports Dashbord Table Update</h1>
    <button onclick="location.href='{% url 'update_all_tables' %}'">Update All Tables</button>
    <button onclick="location.href='{% url 'update_metabase_template' %}'">Update Metabase Template</button>
    <button onclick="location.href='{% url 'create_mb_user' %}'">create metabase user</button>
    <button onclick="location.href='{% url 'update_refresh_tables' %}'">Update Refresh Tables</button>
    <button onclick="location.href='{% url 'update_sync_tables' %}'">Update Sync Tables</button>
</body>
</html>
